@using Participation_ASP.Models
@model Participation_ASP.Models.Account
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<p>Gebruikersnaam: @Model.Username</p>
<p>Email: @Model.Email</p>
<p>Adres: @Model.Address</p>
<p></p>
@if (Model is Volunteer)
{
    <div>
        
    </div>
}


