@model Participation_ASP.Models.Account

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@Html.ActionLink("Ik heb hulp nodig!", "RegisterPatient")
<br/>
<p>De onderstaande functie werk nog niet. Deze zal werken tijdens de demo.</p>
<br/>
@Html.ActionLink("Ik kan helpen!", "RegisterVolunteer")


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
