@model Participation_ASP.Models.Account

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registreren</h2>

@Html.ActionLink("Ik heb hulp nodig!", "RegisterPatient")
<br/>
@Html.ActionLink("Ik kan helpen!", "RegisterVolunteer")


<div>
    @Html.ActionLink("Terug", "Index", "Home")
</div>
